<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>edge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFABB6061F4E8F43009DF4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFABB61A1F4E8F43009DF4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFABB6251F4E8F43009DF4CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
